name: Docs

on:
  push:
    branches:
      - main
    paths:
      - "docs/**"
      - "mkdocs.yml"
      - ".github/workflows/docs.yml"
  workflow_dispatch:

jobs:
  docs:
    uses: MrThearMan/CI/.github/workflows/docs.yml@v0.4.12
    with:
      poetry-version: "2.0.0"
